/* --------- */
/* VARIABLES */
/* --------- */
/* -------------------------- */
/* MIXINS & RE-USABLE CLASSES */
/* -------------------------- */
.stop-scrolling {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  @media (max-width: 800px) {
    .stop-scrolling {
      position: fixed; } }

.hide {
  display: none !important; }

.show {
  display: inline-block !important; }

@media (min-width: 450px) {
  .mobile-only {
    display: none !important; } }

@media (max-width: 800px) {
  .desktop-only {
    display: none !important; } }

/* ------------ */
/* CSS: DEFAULT */
/* ------------ */
html,
body {
  width: 100%;
  background-color: green;
  color: black;
  font-family: "futura-pt", sans-serif;
  font-size: 14px; }
  @media (max-width: 800px) {
    html,
    body {
      font-size: 14px;
      -webkit-overflow-scrolling: touch;
      -webkit-text-size-adjust: 100%; } }
  @media (max-width: 800px) and (max-width: 330px) {
    html,
    body {
      font-size: 10px; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  ms-box-sizing: border-box;
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 4rem;
  position: relative; }
  @media (max-width: 800px) {
    section {
      margin: 0 auto;
      margin-top: 1.5rem;
      padding: 0 7.5%; } }
  section h1.title {
    color: #404040;
    font-size: 210%;
    font-weight: 600; }
    @media (max-width: 800px) {
      section h1.title {
        font-size: 180%; } }
  section h2.title {
    color: #A0A0A0;
    font-weight: 400;
    font-size: 130%;
    margin-top: 0.5rem; }
    @media (max-width: 800px) {
      section h2.title {
        font-size: 120%;
        line-height: 1.2;
        margin-top: 0.5rem; } }
  @media (max-width: 800px) {
    section.full-width-mobile {
      overflow-y: hidden;
      padding-left: 0;
      padding-right: 0; }
      section.full-width-mobile h1.title,
      section.full-width-mobile h2.title {
        padding-left: 7.5%; }
      section.full-width-mobile .grid-box {
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-left: 7.5%;
        white-space: nowrap; } }

.container {
  width: 100%; }
  .container .inner {
    width: 67%;
    display: inline-block; }
    @media (min-width: 450px) {
      .container .inner {
        min-width: 900px;
        max-width: 1000px; } }
    @media (max-width: 800px) {
      .container .inner {
        width: 100%; } }

.grid-box {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  -ms-grid-columns: (minmax(30%, 1fr))[3];
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  padding-top: 1.3rem; }
  @media (max-width: 800px) {
    .grid-box {
      padding-top: 1rem; } }
  .grid-box .grid-item {
    position: relative; }
    @media (max-width: 800px) {
      .grid-box .grid-item {
        width: 22rem;
        max-width: 80vw;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 1rem; }
        .grid-box .grid-item:nth-of-type(1) {
          margin-left: 0; }
        .grid-box .grid-item:nth-last-of-type(1) {
          margin-right: 7.5%; } }
